<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /projects/three-peaks/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projects/three-peaks/index.php [L]
</IfModule>

